{% trans %}
    <div class="span9">
    <p>
    	<a href="/AIG3.pdf" target="_blank">
			Guia de Implementación Técnica de datos abiertos de Gobierno AIG3
		</a>
	</p>
    <p>
        Las instituciones públicas en su quehacer cotidiano generan un recurso de valor incalculable, el cual refleja
        todas
        las acciones y actividades de estas: manejo del presupuesto, economía, energía, clima, salud, medio ambiente,
        agricultura, seguridad pública, sociedad, cultura, entre muchos otros. Este recurso es la <b>información</b>, la
        cual
        normalmente se genera y archiva en las distintas instancias y medios donde se acumula sin objetivos definidos.
    </p>

    <p class="indented">
        La liberación o apertura de <b>toda la información</b>, salvo algunas excepciones, que generan las instituciones
        da como
        resultado los <b>datos abiertos de gobierno - DAG</b>. Estos datos se ponen a disposición del ciudadano sin
        restricción de
        acceso, para su libre uso, re-utilización y redistribución, lo que supone que los datos sean liberados en
        formatos
        procesables por los equipos informáticos.
    </p>

    <p>
        Al permitir al ciudadano acceder a todos los datos de las instituciones públicas en forma simple se crea un
        impacto
        positivo en la sociedad, se perfecciona la democracia debido a los mayores niveles de participación, interacción
        y
        compromiso entre gobierno y sociedad.
    </p>

    <p class="indented">
        Más allá de la simplificación de los trámites – gobierno electrónico, y la transparencia – apertura parcial en
        cumplimiento de la ley, los datos abiertos reflejan una efectiva visibilidad y rendición de cuentas
        institucional;
        abren todo un universo a los ciudadanos, capaces de aprovechar esta oportunidad para crear nuevos productos de
        información y aplicaciones en favor de la sociedad.
    </p>
        </div>

    <div class="row">
        <div class="span6">
            <p>
                El acceso a datos abiertos estimula la creatividad y posibilita a innovadores y emprendedores realizar
                obras
                derivadas con su consecuente impacto en la sociedad, al crear nuevos datos, conocimientos y servicios.
            </p>
            <img id="creative" src="/creative.png">
        </div>
        <div id="pie" class="span3 text-center">
            <img src="/pie.png">
        </div>
    </div>

{% endtrans %}