{% set type = group.type or 'group' %}
{% set url = h.url_for(type ~ '_read', action='read', id=group.name) %}

{% block item %}
    <li class="maincat">
        <a href="{{ url }}" title="{{ group.fluent_tooltip_description['en'] }}">
            <span class="image">
              <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}"
                   alt="{{ group.name }}" data-adaptive-background>
            </span>
            <h3>{{ group.display_name }}</h3>
        </a>
    </li>
{% endblock %}