{% ckan_extends %}

{% block secondary_content %}
  <div class="vertical-separator">
    <div class="vertical-separator-padding">
      {% set default_extent="[[5.7,-444.4],[11.0,-435.4]]" %}

      <section id="dataset-map" class="module module-narrow module-shallow">
        <h2 class="module-heading">
          <i class="icon-medium icon-globe"></i>
          {{ _('Filter by location') }}
          <a href="{{ h.remove_url_param(['ext_bbox','ext_prev_extent', 'ext_location']) }}"
             class="action">{{ _('Clear') }}</a>
        </h2>
        {% set map_config = h.get_common_map_config() %}
        <div class="dataset-map" data-module="spatial-query" data-default_extent="{{ default_extent }}"
             data-module-map_config="{{ h.dump_json(map_config) }}">
          <div id="dataset-map-container"></div>
        </div>
        <div id="dataset-map-attribution">
          {% snippet "spatial/snippets/map_attribution.html", map_config=map_config %}
        </div>
      </section>
      {% resource 'ckanext-spatial/spatial_query' %}
      <div class="filters">
        <div>
          {% for facet in c.facet_titles %}
              {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
          {% endfor %}
        </div>
        <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
      </div>
    </div>
  </div>
{% endblock %}