{% resource 'panama/css/contact.css' %}
{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block content %}
    <div role="main">
        <div id="content" class="container">
            <div class="row">
                {{ self.flash() }}
                <div class="span5 info">
                <h1>Contactenos</h1>
                    <p>Tiene usted alguna pregunta o desea darnos su opinión sobre
                        <a href="http://datosabiertos.gob.pa">datosabiertos.gob.pa</a>
                    </p>
                </div>
            </div>
            <div class="row">
                {{ form.errors(error_summary) }}
                <div id="contact-form" class="span9">
                    <form id="form-id" class="dataset-form form-horizontal" method="post">
                        <fieldset>
                            <div class="row">
                                <div class="span4">
                                    {{ form.input('name', label=_('Contact Name'), id='field-name', value=data.name, error=errors.name, placeholder=_('* Título'), classes=['control-large'], is_required=true) }}
                                </div>
                                <div class="span4">
                                    {{ form.input('email', label=_('Email'), id='field-email', type='email', value=data.email, error=errors.email, placeholder=_('* Su Correo Eletrónico'), classes=['control-large'], is_required=true) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="span4">
                                    {{ form.markdown('content', label=_('Your Request'), id='field-content', value=data.content, error=errors.content, placeholder=_('* En qué lo podemos ayudar?'), is_required=true) }}
                                </div>
                                <div class="span4">
                                    {{ form.input('razon', label=_('Razón'), id='razon', error=errors.email, placeholder=_('* Razón'), classes=['control-large'], is_required=true) }}
                                </div>
                            </div>
                            {% if g.recaptcha_publickey %}
                                {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
                            {% endif %}
                        </fieldset>
                    </form>
                </div>
                <div id="contact-info" class="span3">
                    <ul>
                        <li>Pregunter acerca <a href="http://datisabuertos.gob.pa">datisabuertos.gob.pa</a></li>
                        <li>Preportar un problema con el portal <a href="""http://datisabuertos.gob.pa">datisabuertos.gob.pa</a></li>
                        <li>Solicitar un dataset</li>
                        <li>Enviar una aplicación</li>
                        <li>Report un problema con un dataset</li>
                    </ul>
                    <div class="form-actions">
                        <button id="submit" class="btn btn-primary save" type="submit" name="save" form="form-id">
                            <img src="/submit.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}