{#
Display a grid of group items.

groups - A list of groups.

Example:

    {% snippet "group/snippets/group_list.html" %}

#}
{% block group_list %}
<ul class="media-grid" data-module="media-grid">
	{% block group_list_inner %}
  {% for group in h.panama_get_featured_groups(count=h.panama_get_groups_len()) %}
    {% for g in groups %}
        {% if group.name == g.name %}
            {% snippet "group/snippets/group_item.html", group=group, position=loop.index %}
        {% endif %}
    {% endfor %}
  {% endfor %}
  {% endblock %}
</ul>
{% endblock %}
