{% resource 'panama/css/contact.css' %}
{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block content %}
    <div role="main">
        <div id="content" class="container">
            {{ self.flash() }}
            <h1>Contactenos</h1>
            <div class="span5 info">
                <p>Tiene usted alguna pregunta o desea darnos su opinión sobre
                    <a href="http://datosabiertos.gob.pa">datosabiertos.gob.pa</a>
                </p>
            </div>
            <div class="row">
                <div id="contact-form" class="span9">
                    <form class="dataset-form form-horizontal" method="post">
                        {{ form.errors(error_summary) }}

                        <fieldset>
                            <div class="row">
                                <div class="span4">
                                    <input placeholder="* Título"/>
                                </div>
                                <div class="span4">
                                    <input placeholder="* Su Correo Eletrónico"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="span4">
                                    <textarea placeholder="* En qué lo podemos ayudar?" rows="8"></textarea>
                                </div>
                                <div class="span4">
                                    <input placeholder="* Razón"/>
                                </div>
                            </div>
                            {% if g.recaptcha_publickey %}
                                {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
                            {% endif %}
                        </fieldset>
                    </form>
                </div>
                <div id="contact-info" class="span3">
                    <ul>
                        <li>Pregunter acerca datisabuertos.gob.pa</li>
                        <li>Preportar un problema con el</li>
                        <li>portal datisabuertos.gob.pa</li>
                        <li>Solicitar un dataset</li>
                        <li>Enviar una aplicación</li>
                        <li>Report un problema con un dataset</li>
                    </ul>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" name="save">{{ _('Submit') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}