{% resource 'panama/css/index.css' %}
{% resource 'panama/tagcloud' %}
{% ckan_extends %}

{% block content %}
    <div class="homepage">
        <div class="container">
            {{ self.flash() }}

            <div class="maincat-group">
                <h2>{{ _('Groups') }}</h2>
                <div class="row">
                    <ul class="responsive-grid">
                        {% for group in h.get_featured_groups(count=12) %}
                            {% snippet "home/snippets/group_item.html", group=group, position=loop.index %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="delimiter"></div>
        <div class="separator"></div>
        <div class="container">
        <div class="row">
            <div class="span6">
                <h2 class="indexh">{{_('Recent Datasets')}}</h2>
                {% snippet 'home/snippets/recently_updated_datasets.html' %}
            </div>

            <div class="span6">
                <h2 class="indexh">{{ _('Tags') }}</h2>
                <div id="tagcloud">
                  <canvas width="351px" height="341px" id="myCanvas" data-module="tagmodule">
                    Etikets
                  </canvas>
                </div>
            </div>
                <div id="tags">
                  {% set tags = h.get_facet_items_dict('tags', limit=26) %}
                    {% for tag in tags %}
                        <a href="/dataset?tags={{ tag.name }}" rel="{{ tag.count }}">{{ tag.display_name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
