{% ckan_extends %}

{% block header_wrapper %}
    {% block header_account %}
        {{ super() }}
    {% endblock %}
    <header class="navbar navbar-static-top masthead">
        {% block header_debug %}
            {% if g.debug and not g.debug_supress_header %}
                <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
            {% endif %}
        {% endblock %}

        <div class="container">
            <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="logoandnav">

                <hgroup class="{{ g.header_class }} pull-left">

                    {% block header_logo %}
                        {{ super() }}
                    {% endblock %}

                </hgroup>
                    <div class="nav-collapse collapse" id="mainnav">

                        {% block header_site_navigation %}

                            <div class="nav-collapse collapse">
                                <nav class="section navigation">
                                    <ul class="nav nav-pills">
                                        {{ h.build_nav_main(
                                            ('search', _('DATOS')),
                                            ('group_index', _('TEMÁTICAS')),
                                            ('ckanext_showcase_index', _('APPS')),
                                            ('contact_form', _('CONTÁCTENOS')),
                                            ('about', _('ACERCA DE'))
                                            ) }}
                                    </ul>
                                </nav>
                            </div>

                        {% endblock %}
                </div>

            </div>
        </div>

        <div class="panamaheader">
            <div class="container headersearch">
                {% block header_site_search %}
                    {{ super() }}
                {% endblock %}
            </div>
        </div>
    </header>
{% endblock %}
