{% ckan_extends %}

{% block header_site_navigation %}

{% set current_url = request.environ.CKAN_CURRENT_URL %}
{% set current_lang = request.environ.CKAN_LANG %}

<ul class="languages">
{% for locale in h.get_available_locales() %}
    <li {% if locale == current_lang %}class="active"{% endif %}><a href="{% url_for current_url, locale=locale %}">{% filter upper %}{{ locale }}{% endfilter %}</a></li>
{% endfor %}
</ul>

<nav class="section navigation">
    <ul class="nav nav-pills">
    {% block header_site_navigation_tabs %}
        {{ super() }}
    {% endblock %}
    <li class="contact">
        {{ _('Get in touch') }}: <a href="https://www.facebook.com/InnovacionPma" target="_blank"><i class="icon-facebook"></i> Facebook</a> <a href="https://twitter.com/innovacionpma" target="_blank"><i class="icon-twitter"></i> Twitter</a>
    </li>
    </ul>
</nav>
{% endblock %}
