#contact-form {
    background-image: url('/submitbackground.png');
    background-position: 50% 0;
    width: 650px;
}

label {
    display: none;
}

.form-horizontal input {
    padding-left: 15px !important;
    font-size: 15px;
}

.form-horizontal textarea {
    padding-left: 15px !important;
    padding-top: 5px !important;
}

.form-horizontal .controls {
    margin-left: 0px;
}

.info {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 600;
}

.form-actions {
    border: none;
}

.editor .editor-info-block {
    display: none;
}

#contact-info {
    margin-left: 0px;
    font-size: 13px;
}

#content {
    padding-bottom: 40px;
}

.form-horizontal textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 0px;
}

.form-horizontal input {
    width: 95%;
    margin-bottom: 15px;
    padding: 0px;
}

fieldset {
    padding: 15px 15px 15px 15px;
}

#submit {
    margin: 37px 0px 0px 20px;
    padding: 0px;
    border: none;
}

#submit > img {
    width: 100%;
}