#contact-form {
    background-image: url('/submitbackground.png');
    background-position: 50% 0;
    height: 330px;
}

label {
    display: none;
}

.form-horizontal input {
    padding-left: 15px !important;
    font-size: 15px;
}

.form-horizontal textarea {
    padding-left: 15px !important;
    padding-top: 5px !important;
}

.form-horizontal .controls {
    margin-left: 0px;
}

.info {
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 600;
}

.form-actions {
    border: none;
}

.editor .editor-info-block {
    display: none;
}

#contact-info {
    margin-left: 0px;
    font-size: 13px;
}

#content {
    padding-bottom: 40px;
}

.form-horizontal textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 0px;
}

.form-horizontal input {
    width: 95%;
    margin-bottom: 15px;
    padding: 0px;
}

fieldset {
    padding: 15px 15px 15px 15px;
}

#submit {
    padding: 0px;
    border: none;
}

@media (min-width: 1200px) {
    #submit {
        margin: 68px 0px 0px 20px;
    }
}

@media (min-width: 976px) and (max-width: 1200px) {
    #submit {
        margin: 83px 0px 0px 20px;
    }
}

@media (min-width: 480px) and (max-width: 985px) {
    #submit {
        margin: 35px 0px 0px 20px;
    }
}

#submit > img {
    width: 100%;
}

#contact-form form {
    padding: 20px;
}