@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,600italic);

html {
    background: #ffffff;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #ffffff;
}

[role="main"], .main {
    background: #ffffff;
    background-color: #ffffff;
}

.hero {
    background: #ffffff;
}

.search-giant {
    display: none;
}

.search-form .control-order-by {
    margin-top: -3px;
    float: right;
}

.wrapper {
    border: none;
    box-shadow: none;
    background: none;
}

.search-form h2,
.toolbar .breadcrumb a,
h1, h2, h3, h4, h5, h6 {
    color: #2d3f53;
    font-style: italic;
    font-weight: 600;
}

.search-form h2 {
    font-style: italic;
    margin-top: 0px;
}

.search-form h2 {
    font-size: 20px;
}

.search-form.no-bottom-border,
.search-form {
    padding-bottom: 7px;
    border-bottom-color: #3e6086;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

#dataset-map {
    padding-top: 9px;
}

.dataset-map {
    margin: 10px 0px 0px 0px;
}

.dataset-map-expanded #dataset-map {
    width: 97%;
    border: none;
    top: -400px;
}

.dataset-map-expanded .wrapper {
    margin-top: 400px;
}

.dataset-content {
    font-weight: 200;
}

.media-grid {
    border: none;
    background: #ffffff;
}

.module-heading {
    border-top: none;
    border-bottom-color: #3e6086;
    border-bottom-width: 3px;
    background: #ffffff;
}

.context-info .nums {
    border-top-color: #3e6086;
    border-top-style: solid;
    border-top-width: 3px;
}

.context-info .module-content {
    padding: 15px 0px 15px 0px;
}

.primary .module > .module-content {
    padding-top: 0px;
}

.context-info .follow_button,
.context-info .nums,
.context-info h1.heading {
    padding-left: 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: none;
    text-decoration: underline;
}

.breadcrumb li.home {
    display: none;
}

.module-heading i {
    display: none;
}

.module-footer,
.nav-simple > li, .nav-aside > li {
    border: none;
}

header,
.page-header {
    background: none;
}

.headersearch {
    height: 100%;
}

.panamaheader .site-search input {
    width: 800px;
    height: 35px;
    font-size: 20px;
    margin: 0 auto;
}

.container-account-masthead {
    position: relative;
}

.masthead .container {
    margin-bottom: 5px;
}

.vertical-separator {
    padding-right: 12px;
    background: rgba(249, 249, 249, 1);
    background: -moz-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(98, 137, 182, 1) 40%, rgba(98, 137, 182, 1) 60%, rgba(249, 249, 249, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249, 249, 249, 1)), color-stop(40%, rgba(98, 137, 182, 1)), color-stop(60%, rgba(98, 137, 182, 1)), color-stop(100%, rgba(249, 249, 249, 1)));
    background: -webkit-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(98, 137, 182, 1) 40%, rgba(98, 137, 182, 1) 60%, rgba(249, 249, 249, 1) 100%);
    background: -o-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(98, 137, 182, 1) 40%, rgba(98, 137, 182, 1) 60%, rgba(249, 249, 249, 1) 100%);
    background: -ms-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(98, 137, 182, 1) 40%, rgba(98, 137, 182, 1) 60%, rgba(249, 249, 249, 1) 100%);
    background: linear-gradient(to bottom, rgba(249, 249, 249, 1) 0%, rgba(98, 137, 182, 1) 40%, rgba(98, 137, 182, 1) 60%, rgba(249, 249, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f9f9f9', GradientType=1);
}

.vertical-separator-padding {
    padding-right: 28px;
    background: #ffffff;
}

.module:last-child {
    margin-bottom: 20px;
}

.masthead .site-search {
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.masthead .navigation {
    margin-right: 0px;
}

.account-masthead {
    background: transparent;
    position: absolute;
    right: 0px;
    z-index: 1;
    margin: 0px;
    padding: 0px;
}

.account-masthead .account ul li a {
    color: black;
}

.masthead {
    background: #ffffff;
    background-image: none;
}

.masthead .navigation .nav-pills li.active a,
.masthead .navigation .nav-pills li a:hover {
    background: none;
    box-shadow: none;
    text-decoration: underline;
}

.masthead .btn-navbar,
.masthead .btn-navbar:hover,
.masthead .btn-navbar:focus,
.masthead .btn-navbar:active,
.masthead .btn-navbar.active,
.masthead .btn-navbar.disabled,
.masthead .btn-navbar[disabled] {
    margin-top: 40px;
}

.panamaheader {
    height: 140px;
    background: url("/header.jpg");
    background-position: 50% 0;
    margin-bottom: 10px;
}

.delimiter {
    height: 4px;
    background: url("/delimiter.png");
    background-position: 50% 0;
}

.separator {
    height: 12px;
    background: rgba(249, 249, 249, 1);
    background: -moz-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(98, 137, 182, 1) 40%, rgba(98, 137, 182, 1) 60%, rgba(249, 249, 249, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249, 249, 249, 1)), color-stop(40%, rgba(98, 137, 182, 1)), color-stop(60%, rgba(98, 137, 182, 1)), color-stop(100%, rgba(249, 249, 249, 1)));
    background: -webkit-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(98, 137, 182, 1) 40%, rgba(98, 137, 182, 1) 60%, rgba(249, 249, 249, 1) 100%);
    background: -o-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(98, 137, 182, 1) 40%, rgba(98, 137, 182, 1) 60%, rgba(249, 249, 249, 1) 100%);
    background: -ms-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(98, 137, 182, 1) 40%, rgba(98, 137, 182, 1) 60%, rgba(249, 249, 249, 1) 100%);
    background: linear-gradient(to right, rgba(249, 249, 249, 1) 0%, rgba(98, 137, 182, 1) 40%, rgba(98, 137, 182, 1) 60%, rgba(249, 249, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f9f9f9', GradientType=1);
}

#logoandnav {
    background-color: #ffffff;
}

#mainnav {
    margin-top: 75px;
}

.navbar .nav > li > a {
    padding-right: 2px;
    padding-left: 5px;
}

#mainnav a {
    color: #000;
    font-size: 16px;
    font-weight: lighter;
}

.homepage {
    background: #ffffff;
    background-color: #ffffff;
}

.context-info .nums dl dt {
    min-height: 40px;
}

.account-masthead .account ul li {
    font-style: italic;
    border: 0px;
}

.indexh {
    padding-top: 10px;
    border-bottom-color: #3e6086;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.site-footer {
    background: rgba(249, 249, 249, 1);
    background: -moz-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(208, 208, 208, 1) 50%, rgba(249, 249, 249, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(249, 249, 249, 1)), color-stop(50%, rgba(208, 208, 208, 1)), color-stop(100%, rgba(249, 249, 249, 1)));
    background: -webkit-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(208, 208, 208, 1) 50%, rgba(249, 249, 249, 1) 100%);
    background: -o-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(208, 208, 208, 1) 50%, rgba(249, 249, 249, 1) 100%);
    background: -ms-linear-gradient(left, rgba(249, 249, 249, 1) 0%, rgba(208, 208, 208, 1) 50%, rgba(249, 249, 249, 1) 100%);
    background: linear-gradient(to right, rgba(249, 249, 249, 1) 0%, rgba(208, 208, 208, 1) 50%, rgba(249, 249, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f9f9f9', GradientType=1);
}

.site-footer img {
    margin-top: 15px;
    width: 150px;
}

.legal {
    color: darkgray;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 5px;
}

.footer-img {
    margin-left: 0px;
}

@media (max-width: 560px) {
    .footer-img {
        float: none;
    }

    .footer-logos-container {
        width: initial !important;
    }
}

.dataset-heading {
    font-size: 18px;
}

.dataset-resources li a {
    background-color: #ffffff;
    margin-right: 10px;
}

.showcase-item {
    float: left;
    min-height: 1px;
    max-width: 650px;
    margin-left: 20px;
    padding-top: 15px;
}

.media-grid.masonry {
    margin-left: 0px;
    padding-left: 0px;
}

@media (max-width: 1200px) {
    .vertical-separator {
        padding-right: 0px;
    }

    .vertical-separator-padding {
        padding-right: 0px;
    }

    .site-description {
        display: none;
    }
}

@media (min-width: 1200px) {
    .primary > .module {
        padding-left: 0px;
        margin-left: -20px;
    }

    .module-content {
        padding-left: 0px !important;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    .span12 {
        width: 1152px;
    }

    .span11 {
        width: 1054px;
    }

    .span10 {
        width: 960px;
    }

    .span9 {
        width: 864px;
    }

    .span8 {
        width: 768px;
    }

    .span7 {
        width: 672px;
    }

    .span6 {
        width: 576px;
    }

    .span5 {
        width: 480px;
    }

    .span4 {
        width: 384px;
    }

    .span3 {
        width: 288px;
    }

    .span2 {
        width: 192px;
    }

    .span1 {
        width: 96px;
    }

    .masthead .container {
        width: 1200px;
    }

    .masthead .site-search {
        left: 190px;
    }
}

@media (min-width: 767px) {
    .stages {
        margin: -20px 0px 20px 130px;
    }
}

@media (max-width: 767px) {
    .stages {
        margin: 0px -25px 30px;
    }
}

.site-description {
    color: #0e76bc;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
}

#tags {
    padding-top: 25px;
}

#tags > a {
    margin: 20px;
}

#tags {
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.footer-logos-container {
    margin: 0 auto; 
    width: 490px;
}

.maincat-group {
    padding-top: 10px;
    padding-bottom: 0px;
}

.maincat-group h2 {
    padding-bottom: 15px;
}

.maincat {
    list-style-type: none;
    text-align: center;
}

.maincat img {
    height: 90px;
}

.maincat img:hover {
    opacity: 0.5;
}

.maincat h3 {
    font-size: 16px;
    font-style: normal;
    color: #2d3f53;
}

/* General grid styles */
.responsive-grid {
    list-style: none;
    padding: 0px 30px 0 30px;
    margin: 0;
    height: 350px;
    overflow-y: scroll;
    margin-bottom: 30px
}

/* Clear floats */
.responsive-grid:before,
.responsive-grid:after {
    content: " ";
    display: table;
}

.responsive-grid:after {
    clear: both;
}

.responsive-grid li {
    width: 16%;
    float: left;
    text-align: center;
    height: 225px;
}

.responsive-grid li a {
    display: block;
}

.homepage {
    margin-bottom: 40px;
}

.homepage .latest-datasets {
    margin: 15px 0 10px 0
}

.homepage .latest-datasets > li {
    display: block;
    margin-bottom: 20px
}

.homepage .latest-datasets > li .post {
    display: block
}

.homepage .latest-datasets > li .date {
    margin-top: 10px
}

.homepage .latest-datasets > li h4 {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 16px;
    color: #151515;
}

#tagcloud > a {
    margin: 20px;
}

#tagcloud {
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.well {
    padding-left: 0px;
}

.homepage .latest-datasets > li .formats {
    margin: 10px 0 0 0
}

.homepage .latest-datasets > li .label {
    opacity: .6
}

.latest-datasets > .well {
    background: #ffffff;
    border: none;
    box-shadow: none;
}

.formats li {
    margin-right: 5px;
}

.days-modified {
    float: right;
    font-size: 12px;
    margin-top: -18px;
    padding-right: 10px;
}

@media screen and (max-width: 62.75em) {
    .responsive-grid li {
        width: 33%;
    }
}

@media screen and (max-width: 41.6em) {
    .responsive-grid li {
        width: 100%;
    }
}

@media screen and (max-width: 25em) {
    .responsive-grid {
        font-size: 80%;
    }
}